{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block main %}
    <div class = "container">
        <div class = "row justify-content-center " data-bs-theme="dark">
            <div class = "col-md-10 col-lg-8">
                <div class = "card account-card shadow-sm border-0 mb-5 ">
                    <!-- Heading -->
                    <div class = "fw-bold account-header  soft-border text-center">
                        <h2 class ="card-title fw-bold mb-2">My Account</h2>
                    </div>

                    <div class = "border-0 shadow-sm mb-3">
                        <div class = "card-body  p-4">
                            <div class = "mb-4 rounded mint-color p-2 shadow-sm">
                                <!--  User Details -->
                                <ul class = "list-group mint-color list-group-flush">
                                    <li class = "list-group-item d-flex justify-content-center alig-items-center">
                                        <!-- Email -->
                                        <div class = "row w-100">
                                            <div class="col-4 text-end fw-bold">Email:</div>
                                            <div class="col-8 fs-5">{{ user["email"] }}</div>
                                        </div>
                                    </li>
                                    <!-- Username -->
                                    <li class = " list-group-item d-flex justify-content-center align-item-center">
                                        <div class = "row w-100">
                                            <div class="col-4 text-end fw-bold">Username:</div>
                                            <div class="col-8 fs-5">{{ user["username"] }}</div>
                                        </div>
                                    </li>
                                    <!-- Name -->
                                        <li class = "list-group-item d-flex justify-content-center align-item-center">
                                            <div class = "row w-100">
                                                <div class = "col-4 text-end fw-bold">Name: </div>
                                                <div class = "col-8 fs-5">
                                                    {% if user["name"] %}
                                                        {{user["name"]}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    <!-- Height -->
                                    <li class = "list-group-item d-flex">
                                        <div class = "row w-100">
                                            <div class = "col-6 border-end">
                                                <div class = "row">
                                                    <div class = "col-5 text-end fw-bold">Height: </div>
                                                    <div class = "col-7 fs-5">
                                                        {% if user["height_cm"] %}
                                                            {{user["height_cm"]}} cm
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Weight -->
                                            <div class = "col-6">
                                                <div class = "row">
                                                    <div class = "col-5 fw-bold text-end"> Weight: </div>
                                                    <div class = "col-7 fs-5">
                                                        {% if user["weight_lb"]%}
                                                            {{user["weight_lb"] | round(2) }} lb
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Update info  -->
                    <div class = "mb-4">
                        <form action= "/onboarding" method = "get">
                            <button class = "btn btn-info">Change Info</button>
                        </form>
                    </div>
                    <!-- Logout  -->
                    <div class = "btn-group justify-content-center mt-4 p-4 btn-group-justified">
                        <div class = "btn-group">
                            <form action = "/logout" method = "get">
                                <button class= "btn btn-warning">Log Out</button>
                            </form>
                        </div>
                        <!-- Delete account -->
                        <div class = "btn-group">
                            <form action = "/delete_account" method = "get">
                                <button class = "btn btn-danger">Delete Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
