{% extends "layout.html" %}

{% block title %}
    My Progress
{% endblock %}

{% block main %}
    <div class = "container">
        <div class = "row justify-content-center" data-bs-theme = "dark">
            <div class = "col-8 ">
                <div class = "shadow-sm border-0 card mb-4">
                    <div class = "card-body p-3">
                        <h3 class = "habit-header fw-bold">My Progress</h3>
                        <div class = "table-responsive">
                            <table class = "table table-hover table-striped align-middle">
                                <thead class ="table-dark">
                                    <tr>
                                        <th>Habit Name</th>
                                        <th>Last Completed Date</th>
                                        <th>Streak</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for habit in habits %}
                                        <tr>
                                            <th>{{ habit["habit_name"] }}</th>
                                            <th>{{ habit["last_completed_date"] }}</th>
                                            <th>{{ habit["streak"] }}</th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
