{% extends "layout.html" %}

{% block title %}
    Habit Tracker
{% endblock %}

{% block main %}
    <div style="margin: -20px; width: 100vw; height: 100vh; overflow: hidden;">

        <header class="hero">
            <div class="hero-text">
                <h1>Track Your Habit.<br>Build Your future.</h1>
                <p>A simple, powerful tool to help you stick to your goals.</p>
                <p>Habit trackers help you maintain your daily schedule.</p>
                <p>It keeps track of all your progress.</p>
                <p>Join users who are changing their lives one day at a time.</p>
                <br>
                <div class="cta-button">
                    <a href="/register" class="btn-cta">Sign Up Today</a>
                </div>
            </div>

            <div class="hero-image">
                <img src="/static/Img.png" alt="Habit Tracker">
            </div>
        </header>

    </div>
{% endblock %}
