{% extends "layout.html" %}

{% block title %}
    Update Schedule
{% endblock %}

{% block main %}

    <div class = "container">
        <div class = "row justify-content-center" data-bs-theme = "dark">
            <div class = "col-8">
                <div class = "border-0 card shadow-sm mt-4">
                    <div class = "card-body p-3">
                        <!-- Heading  -->
                        <h4 class = "bw-bold habit-header">Update Schedule</h4>
                        <form action = "/update_schedule" method = "post">
                            <!-- form  -->
                            <div class = "mb-4">
                                <label class = "col-form-label fw-bold" for = "habit">Activity: </label>
                                <div class = "input-group">
                                    <input class = "form-control" name = "activity_name" type= "text" required autocomplete = "off" value  = "{{schedule_data.activity_name}}">
                                    <select  name = "linked-habit-id" class = "form-select">
                                        <option value = "" >None</option>
                                        {% for habit in habits %}
                                            {% if habit.id == schedule_data.id  %}
                                                <option value = "{{ habit.id }}" selected >{{ habit.habit_name }} </option>
                                            {% else %}
                                                <option value = "{{ habit.id }}">{{ habit.habit_name }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class = "row mb-1 mt-3">
                                    <div class = "col-6">
                                        <label class = "form-label fw-bold" >Start: </label>
                                        <input class = "form-control" type = "time" value = "{{ schedule_data.start_time }}" name = "start" required>
                                    </div>
                                    <div class = "col-6">
                                        <label class = "form-label fw-bold">End: </label>
                                        <input class = "form-control" type = "time" value = "{{ schedule_data.end_time }}" name = "end" required>
                                    </div>
                                    <div>
                                        <input type = "hidden" name = "activity_id" value = "{{ schedule_data.id }}">
                                    </div>
                                    <div class = "row mb-1 mt-2">
                                        <div class = "col-12">
                                            <label class = "form-label fw-bold text-seconday text-uppercase d-block mb-3">Repeat On </label>
                                            <div class = "d-flex justify-content-center gap-1">
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.monday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "mon" id = "mon">
                                                        <label class = "form-check-label" for = "mon">Mon</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "mon" id = "mon">
                                                        <label class = "form-check-label" for = "mon">Mon</label>
                                                    {% endif %}
                                                </div>
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.tuesday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "tue" id = "tue">
                                                        <label class = "form-check-label" for = "tue">Tue</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "tue" id = "tue">
                                                        <label class = "form-check-label" for = "tue">Tue</label>
                                                    {% endif %}
                                                </div>
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.wednesday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "wed" id = "wed">
                                                        <label class = "form-check-label" for = "wed">Wed</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "wed" id = "wed">
                                                        <label class = "form-check-label" for = "wed">Wed</label>
                                                    {% endif %}
                                                </div>
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.thursday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "thu" id = "thu">
                                                        <label class = "form-check-label" for = "thu">Thu</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "thu" id = "thu">
                                                        <label class = "form-check-label" for = "tue">Tue</label>
                                                    {% endif %}
                                                </div>
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.friday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "fri" id = "fri">
                                                        <label class = "form-check-label" for = "fri">Fri</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "fri" id = "fri">
                                                        <label class = "form-check-label" for = "fri">Fri</label>
                                                    {% endif %}
                                                </div>
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.saturday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "sat" id = "sat">
                                                        <label class = "form-check-label" for = "sat">Sat</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "sat" id = "sat">
                                                        <label class = "form-check-label" for = "sat">Sat</label>
                                                    {% endif %}
                                                </div>
                                                <div class = "form-check form-check-inline">
                                                    {% if schedule_data.sunday %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" checked value = "sun" id = "sun">
                                                        <label class = "form-check-label" for = "sun">Sun</label>
                                                    {% else %}
                                                        <input class = "form-check-input" type = "checkbox" name = "days" selected value = "sun" id = "sun">
                                                        <label class = "form-check-label" for = "sun">Sun</label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class = "d-flex justify-content-center mt-2">
                                                <div class ="form-check form-switch">
                                                    <input class ="form-check-input" type = "checkbox" id = "everyday">
                                                    <label class = "form-check-label" for = "everyday">Everyday</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class = "row justify-content-center">
                                    <div class = "col-6 btn-group">
                                        <button class = "btn btn-danger col-5" type = "submit" name = "action" value = "delete">Delete Activity</button>
                                        <button class = "btn btn-success col-7" type = "submit" name = "action" value = "save">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const everyday = document.getElementById("everyday");
            const days = document.querySelectorAll('input[name = "days"]')

            everyday.addEventListener('change', function(){
                days.forEach(function(checkbox){
                    checkbox.checked = everyday.checked;
                });
            });
        });
    </script>
{% endblock %}
